body{
        background-color: #D8D8D8;
}

h3{
    color:#159895;
}

h1{
    color:#57C5B6;
}

hr{
    background-color: #D8D8D8;
    border-style: dotted none none;
    border-color: grey;

    border-width: 5px;
    width: 10%;
}
